label {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.input-field {
    margin: auto;
    height: auto;
    width: auto;
    padding: 1%;
}

input.input-field {
    transition-duration: 0.5s;
    /*    border-color: #0e61f0;*/
    /*    border-style: solid;*/
    /*    border-radius: 50px;*/
    /*
    width: 20em;
    height: 3em;
*/
    text-align: center;
    border-radius: 20px;
    min-height: 50px;
    min-width: 300px;
    color: #ffd5af;
    background: linear-gradient(to right, #ffd5af 50%, #052b4a 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease;
    border-style: solid;
    border-color: #ffd5af;
}

/*
input.input-field:focus {
    border-color: antiquewhite;
    border-style: solid;
    border-radius: 50px;
    outline: none;
    background-color: white;
    transition-duration: 0.5s;
}
*/

input.input-field:focus {
    background-color: #ffd5af;
    color: #052b4a;
    background-position: left bottom;
    outline: none;
}

input.input-field::placeholder {
    color: #ffd5af;
}

.input-button {
    /*    align-items: center;*/
    margin: auto;
    min-width: 20%;
    min-height: 6em;
    display: inline-block;
    vertical-align: middle;
}

button {
    background-color: #052b4a;
    border-radius: 50px;
    border-style: solid;
    border-color: antiquewhite;
    margin: auto;
    display: block;
    height: 3em;
    width: 13em;
    transition: 0.2s;
    color: #ffd5af;
}

button:focus {
    outline: none;
}

/*
.loading {
    background-color: aqua;
    width: 100px;
    transition: 0.2s;
    margin: auto;
    display: block;
    background-color: #ffd5af;
    color: #052b4a;
}
*/

.loading{
        border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 0, auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 30%;
}

.form-container {
/*    vertical-align: middle;*/
    display: flex;
    flex-direction: column;
/*    justify-content: center;*/
    height: 100vh;
}

html,
body {
    margin: 0px;
    height: 100%;
    background-color: #669ffa;
}

.loader {

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
